@import url("https://use.typekit.net/fjj6ygl.css");

* {
    box-sizing: border-box;
}

body {
    font-family: sofia-pro;
    font-size: 18px;
    line-height: 150%;
    color: #19191D;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

header {
    height: 70px;
    padding: 0px 20px;
    position: sticky;
    top: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__icon {
    width: 100px;
}

.nav-bar {
    display: none;
    background-color: white;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.3em;
}

.nav-bar__inner__item {
    list-style: none;
}

.nav-bar.open-menu {
    display: block;
}

.nav-bar a {
    color: black;
}

.big-hero {
    height: 450px;
    display: flex;
    background: rgb(35,195,255);
    background: linear-gradient(270deg, rgba(35,195,255,1) 0%, rgba(255,255,255,1) 80%);
    padding: 0px 20px;
}

.big-hero__inner {
    display: flex;
    flex-direction: column;
}

.big-hero__inner__title {
    font-size: 1.5em;
    line-height: 100%;
}

.big-hero__img {
    height: 300px;

}

.top-btn {
    display: flex;
    flex-direction: column;
}

.btn-blue {
    background-color: #2819ff;
    border: none;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
}

.btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
}

.content-wrapper {
    margin: 40px 0px 0px 0px;
    padding: 0px 20px;
}

.graphic {
    text-align: center;
    margin: 40px 0px;
}

.graphic__img {
    height: 130px;
}

.graphic__title {
    font-size: 1.3em;
}

.graphic__text {
    font-size: 0.9em;
    padding: 0px 15px;
}

.middle-text {
    font-size: 1.5em;
    text-align: center;
    line-height: 150%;
}

.offers__box {
    border-radius: 15px;
    border: 2px solid #C3C3C3;
    margin: 30px 0px;
    text-align: center;
}

.offers__box__img {
    border-radius: 13px;
}

.offers__box__title {
    font-size: 2em;
    line-height: 0;
}

.offers__box__text {
    padding: 0px 20px;
}
.bottom-btn {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

footer {
    background-color: #F4F4FA;
    height: 80px;
    padding: 20px;
}

.social {
    display: flex;
    justify-content: center;
}

.social__icon {
    margin: 0px 30px;
    font-size: 2em;
}